.Header-section {
  background-image: url('../images/hero-img.jpg'); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 120vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.logo-big {
  color: blue;
  font-size: 45px;
}
.logo-small {
  color: white;
  font-size: 22px;
  font-weight: 600;
  font-family: 'Molle', cursive;
}
.logo-big1 {
  color: blue;
  font-size: 28px;
}
.logo-small1 {
  color: white;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Molle', cursive;
}
.nav-link {
  color: black !important;
  text-decoration: none !important;
  font-size: 18px !important;
  font-weight: 500;
}
.btn-primary{
  background-color: blue !important;
  border: 0 !important;
  border-radius: 0 !important;
}
.hero-text {
  margin-top: 400px;
}

.footer-about-text{
  font-size: 14px;
}
.footer-title{
  color: #ffa4a4;
  font-size: 17px;
}
.footer-link{
  color: black;
  font-size: 14px;
}
.contact-title{
  font-size: 18px;
}
.contact-text{
  font-size: 12px;
}
.work-hours{
  font-size: 14px;
}
.about-title{
  font-size: 45px;
  color: #ffa4a4;
}
.about-text{
  font-size: 22px;
  color: gray;
}
@media only screen and (max-width: 600px) {
  .bg-transparent {
    background-color: rgb(3, 3, 3) !important;
  }
  .hero-text {
    margin-top: 400px;
  }
  .nav-link{
    margin-left: 0 !important;
  }
}
